<!-- Thumbnail -->
<section id="thumbnails">
  <article>
    <a class="thumbnail" href="https://picsum.photos/id/190/1900/900">
      <img src="https://picsum.photos/id/190/800/600" alt="">
    </a>
    <h2>Sobre la Galería</h2>
    <h3>Acercando la fotografía a la gente</h3>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, reiciendis cupiditate? Repudiandae exercitationem illum sint nam tempora commodi, fugiat aliquid necessitatibus expedita maxime cumque iste in quibusdam quaerat numquam nobis suscipit assumenda quam perferendis accusantium tenetur eveniet animi deserunt? Deleniti iure rem atque iste quos repudiandae ipsum, provident alias nostrum ad repellat error facilis excepturi odio commodi blanditiis ea repellendus dolores, fugiat ducimus minima. Numquam expedita consequatur quidem inventore dignissimos harum esse perferendis odio repudiandae deleniti accusamus sint voluptas vel, suscipit at facere tenetur modi eius ex porro repellat laudantium sed eligendi fuga. Voluptas dolorem veniam magni illo eaque ab?
    </p>
    <h2>Contacto</h2>
    <h3>¿Quieres contactarme?</h3>
        <ul class="icons">
          <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
          <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
          <li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
          <li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
        </ul>
    <%= link_to 'Volver a Inicio', root_path %>
  </article>
  <article>
    <a class="thumbnail" href="https://picsum.photos/id/194/1900/900">
      <img src="https://picsum.photos/id/194/800/600" alt="">
    </a>
    <h2>Sobre la Galería</h2>
    <h3>Acercando la fotografía a la gente</h3>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, reiciendis cupiditate? Repudiandae exercitationem illum sint nam tempora commodi, fugiat aliquid necessitatibus expedita maxime cumque iste in quibusdam quaerat numquam nobis suscipit assumenda quam perferendis accusantium tenetur eveniet animi deserunt? Deleniti iure rem atque iste quos repudiandae ipsum, provident alias nostrum ad repellat error facilis excepturi odio commodi blanditiis ea repellendus dolores, fugiat ducimus minima. Numquam expedita consequatur quidem inventore dignissimos harum esse perferendis odio repudiandae deleniti accusamus sint voluptas vel, suscipit at facere tenetur modi eius ex porro repellat laudantium sed eligendi fuga. Voluptas dolorem veniam magni illo eaque ab?
    </p>
    <h2>Contacto</h2>
    <h3>¿Quieres contactarme?</h3>
        <ul class="icons">
          <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
          <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
          <li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
          <li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
        </ul>
    <%= link_to 'Volver a Inicio', root_path %>
  </article>
</section>

